* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
.wrapper {
    position: relative;
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .cart-nav {
    position: absolute;
    top: -35%;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    width: 180px;
    background: #ffffff;
    padding: 13px 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.cart-nav .icon {
    color: #c850c0;
}
.cart-nav .icon i {
    font-size: 20px;
}
.cart-nav .icon span {
    font-weight: 500;
}
.cart-nav .item-count {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #c850c0;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
}
.wrapper .card {
    position: relative;
    width: calc(33% - 13px);
    height: 400px;
    border-radius: 3px;
    overflow: hidden;
}
.wrapper .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: 0.3s all ease;
}
.wrapper .card:hover img {
    transform: scale(1.1);
}
.wrapper .card .content {
    position: absolute;
    width: 100%;
    bottom: -50%;
    padding: 10px 20px 22px 20px;
    background-color: #ffffff;
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
    transition: ease all 0.3s;
}
.wrapper .card:hover .content {
    bottom: 0;
}
.card .content .row,
.content .buttons {
    display: flex;
    justify-content: space-between;
}
.content .row .details span {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.content .row .details p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
}
.content .row .price {
    color: #c850c0;
    font-size: 20px;
    font-weight: 600;
}
.content .buttons {
    margin-top: 20px;
}
.content .buttons button {
    width: 100%;
    padding: 10px 0;
    border: 2px solid #c850c0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: 0.3s ease all;
}
.buttons button:first-child {
    margin-right: 10px;
    color: #c850c0;
    background: #ffffff;
}
button:first-child:hover {
    color: #ffffff;
    background: #c850c0;
}
.buttons button:last-child {
    margin-left: 10px;
    color: #ffffff;
    background: #c850c0;
}
button:last-child:hover {
    background: #fa8bff;
    border-color: #fa8bff;
}

/* Social icons */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.social {
  display: inline-flex;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 100;
}

.social a {
  text-decoration: none;
  color: #17181c;
  transition: all 0.3s;
}

.social .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.social a:hover {
  color: #ffffff;
  transition: all 0.3s;
}

.social .icon:hover a,
.social .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.social .webstart:hover,
.social .webstart:hover .tooltip,
.social .webstart:hover .tooltip::before {
  background-color: #E44D26;
  color: #ffffff;
  transition: all 0.3s;
}

.social .js:hover,
.social .js:hover .tooltip,
.social .js:hover .tooltip::before {
  background-color: #F7C327;
  color: #ffffff;
  transition: all 0.3s;
}

.social .react:hover,
.social .react:hover .tooltip,
.social .react:hover .tooltip::before {
  background-color: #61DAFB;
  color: #ffffff;
  transition: all 0.3s;
}

.social .php:hover,
.social .php:hover .tooltip,
.social .php:hover .tooltip::before {
  background-color: #7377AD;
  color: #ffffff;
  transition: all 0.3s;
}

.social .wp:hover,
.social .wp:hover .tooltip,
.social .wp:hover .tooltip::before {
  background-color: #207196;
  color: #ffffff;
  transition: all 0.3s;
}

.social .telegram:hover,
.social .telegram:hover .tooltip,
.social .telegram:hover .tooltip::before {
  background-color: #32afed;
  color: #ffffff;
  transition: all 0.3s;
}

.social .vk:hover,
.social .vk:hover .tooltip,
.social .vk:hover .tooltip::before {
  background-color: #5181b8;
  color: #ffffff;
  transition: all 0.3s;
}

.social .instagram:hover,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
  transition: all 0.3s;
}

.social .youtube:hover,
.social .youtube:hover .tooltip,
.social .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
  transition: all 0.3s;
}
