#data-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
    width: 100%;
}
.data-item {
    margin-bottom: 30px;
    width: 260px;
    height: 400px;
    overflow: scroll;
    border: 3px solid rgb(216, 168, 23);
    padding: 10px;
    background-color: rgb(240, 223, 208);
}

.data-item span {
    font-weight: 600;
    font-size: 18px;
}
.image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}